@charset "UTF-8";

    .content { clear:both; width: 100%; }
    .breadcrumb { clear:both; width: 1000px; height: 80px; background-color:#fff; 
    margin: 0 auto; }
    .tit { float:left; font-size:24px; line-height:80px; }
    .bread { float:right; line-height: 80px;  }    
    .bread a, .bread span, .bread select, .bread .loc_area { display:block; line-height: 80px; float:left; 
    margin-left:10px; font-size:14px;}
    .bread select {height: 40px;width: 100px;margin: 20px;}
    .bread a { color:#333; }
    .bread span:last-child { color:#333; }

    .con { clear:both; width: 100%; border-top:2px solid #f1f1f1; }
    .sidebar {width: 200px;min-height:calc(100vh - 307px);float:left;background-color: #030a50;}
    .lnb { clear:both; }
    .sidebar .lnb li { line-height:50px; background-color: #030a50; font-size:18px;}
    .sidebar .lnb li a { padding-left: 30px; color:#fff;  }
    .sidebar .lnb li a.cur { color:gold; font-size:20px; font-weight:bold; }
    .con_data { float:right; width:calc(100% - 202px); border-left:2px solid #f1f1f1; }
    .vs { clear:both; width:900px; margin: 0 auto; }
    .vs img { display:block; width: 100%; height:auto; }
    .map_area { width: 600px; height: 400px; clear:both; margin:20px auto; position:relative; }    
    .wrap{ display: flex; min-height: calc(100vh - 225px); flex-direction: column; width:100%;}
    .history_box{padding-top: 80px; padding-left: 100px;}
    

    left: 0; top: 0; display:none; }  */
    .pop_wrap { width:100vw; height:100vh; 
    background:rgba(0,0,0,0.8); position:fixed; z-index: 99999;
    left: 0; top: 0;  } 
    /* #ck_item1:checked ~ .pop_wrap { display:block; }  */
    #ck_item1 { display:none; }
    .pop { clear:both; width: 800px; height: 460px; 
    margin:100px auto; position:relative; }
    .pop_tit_box { clear:both; height: 42px; 
    background-color: lightblue; }
    .pop_tit { color:#fff; text-indent:30px; 
    font-size:20px; line-height: 42px; }
    .close_btn { display:block; width: 40px; height: 40px; line-height: 40px; 
    text-align:center; color:#fff; background-color:#333; position:absolute; right:0; top:0; 
    border:1px solid #f1f1f1; cursor:pointer; }
    .pop_con_box { clear:both; background-color:#fff; }
    .pop_con_box > span > a {text-align: left; color:#333; padding-left:20px;}
    .pop_img { display:block; }
    .pop_com { width: 700px; padding: 20px 0px; margin: 0 auto; }
    .inner_btn { display:block; width:90px; margin:10px auto; 
    background-color: #333; color:#fff; text-align:center; line-height: 36px; cursor:pointer; }


	table { display:table; border-collapse:collapse; }
	tr { display:table-row; }
	th, td { display:table-cell; }
	.tb { width:500px; margin:20px; }
	.tb th, .tb td { width:auto; line-height:36px; border-bottom:1px solid #333; }
	.tb th { border-top:2px solid #333; background:#ffd35e; }
	.tb tbody tr:nth-child(2n) td { background:#fff6de; }
