	.tit { padding: 30px 30px; text-align:center; }
	table { display:table; border-collapse:collapse; }
	tr { display:table-row; }
	th, td { display:table-cell; }
	.tb { width:1200px; margin:20px auto; }
	.tb th, .tb td { line-height:36px; border-bottom:1px solid #333; }
	.tb td img{overflow:hidden; height:auto; width:auto; height:400px;}
	
	.col_hd {width:100px;}
    .content{overflow:hidden; height:300px; vertical-align:top; min-height:300px;}
	.tb th { border-top:2px solid #333; background:#6a6bf5; color:#fff}
	.btn_wrap { width:220px; margin:20px auto; }
	.btn_wrap .in_btn { display:block; width:80px; margin:15px; background-color:#333; color:#fff; 
	text-align:center; border:0; outline:0; float:left; line-height:38px; }
	.btn_wrap .in_btn:hover { background-color:deeppink; }
	